<!DOCTYPE html>
<html>
<head>
    <title>Notes Manager</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <%- include("partials/navbar") %>

    <div class="container">
        <%- body %>
    </div>

    <%- include("partials/footer") %>

</body>
</html>